.menu_nav {
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    // height: 100%;
    padding: 40px 0;
}
.menu_nav_list {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    overflow: auto;
    // margin: 30px 0;
}


@media screen and (max-width:400px) {
    .menu_nav_list {
        width: 100%;
    }
 
}